@font-face {
    font-family: 'Assistant';
    src: url('./Assistant-VariableFont_wght.ttf') format('truetype');
    font-weight:800;
    font-style: normal;
  }
  @font-face {
    font-family: 'AssistantR';
    src: url('./Assistant-VariableFont_wght.ttf') format('truetype');
    font-weight:light;
    font-style: normal;
  }
  @font-face {
    font-family: 'HeeboR';
    src: url('./Heebo-VariableFont_wght.ttf') format('truetype');
    font-weight:300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Amatic';
    src: url('./AmaticSC-Bold.ttf') format('truetype');
    font-weight:700;
    font-style: normal;
  }
  @font-face {
    font-family: 'AmaticR';
    src: url('./AmaticSC-Regular.ttf') format('truetype');
    font-weight:400;
    font-style: normal;
  }